{% extends "esqueleto.html" %}

{% block contenido %}
<h1>Imágenes</h1>
    {% if imagenes.count() > 0 %}
        {% for imagen in imagenes %}
            {% include "entrada_imagen.html" %}
            (<a href="/likes/list?id={{ imagen.key.urlsafe() }}">Likes</a>)
            (<a href="/imagen/delete?id={{ imagen.key.urlsafe() }}">Borrar</a>)
            (<a href="/imagen/edit?id={{ imagen.key.urlsafe() }}">Editar</a>)
        {% endfor %}
    {% else %}
        <p><b>No hay imagenes registradas</b></p>
    {% endif %}

<p><a href="/imagenes/new">Nueva imagen</a></p>
{% endblock %}
