{% extends "esqueleto.html" %}

{% block contenido %}
    {% if usr %}
        <div class="container mt-5 ">
        {% if imagenes.count() > 0 %}
            {% for imagen in imagenes %}
                <div class="card mx-auto mt-2" style="width:500px">
                    {% include "entrada_imagen.html" %}
                        <div class="card-body">
                            <h4 class="card-title">{{ imagen.titulo }}</h4>
                            <p class="card-title">{{ imagen.fecha }}</p>
                            <div class="btn-group mr-2" role="group">
                                <a href="/likes/list?img={{ imagen.key.urlsafe() }}" class="mr-1 ml-1">
                                    <button type="button" class="btn btn-primary">
                                        Listar likes
                                    </button>
                                </a>
                                <a href="/likes/new_like?id={{ imagen.key.urlsafe() }}" class="mr-1 ml-1">
                                    <button type="button" class="btn btn-success">
                                        Me gusta
                                    </button>
                                </a>
                                <a href="/imagen/delete?id={{ imagen.key.urlsafe() }}" class="mr-1 ml-1">
                                    <button type="button" class="btn btn-danger">
                                        Borrar
                                    </button>
                                </a>
                            </div>
                        </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container mt-5">
                <div class="row justify-content-center" style="background: #fff; border-radius:10px; box-shadow: 0px 0px 10px; padding: 30px">
                    <h1><b>No hay imagenes registradas</b></h1>
                </div>

            </div>

        {% endif %}
    {% else %}
        <div class="container">
            <div class="row justify-content-center mt-3 bg-light" style="border-radius:10px; box-shadow: 0px 0px 10px; padding: 30px">
                <h1 style="text-decoration-color: white">¡Haz login para usar la aplicación!</h1>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
