<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto ALS</title>
</head>
<body>
    {% if imagenes.count() > 0 %}
        {% for imagen in imagenes %}
            <b>{{ imagen.enlace }}</b> {{ imagen.fecha }}
            (<a href="/likes/list?id={{ imagen.key.urlsafe() }}">Likes</a>)
            (<a href="/imagen/delete?id={{ imagen.key.urlsafe() }}">Borrar</a>)
            (<a href="/imagen/edit?id={{ imagen.key.urlsafe() }}">Editar</a>)
        {% endfor %}
    {% else %}
        <p><b>No hay imagenes registradas</b></p>
    {% endif %}

    <a href="/imagenes/new">Nueva imagen</a>
</body>
</html>