{% extends "esqueleto.html" %}

{% block contenido %}
<div class="container mt-3">
    <div class="row justify-content-around"
    style="background: #fff; border-radius:10px; box-shadow: 0px 0px 10px; padding: 30px">
        <div class="col-6 justify-self-start mt-3 mb-3">
            {% include "entrada_imagen.html" %}
            <h4 class="card-title">{{ imagen.titulo }}</h4>
            <p class="card-title">{{ imagen.fecha }}</p>
        </div>
        <div class="col-6 col-sm-8 col-md-3 mt-3 mb-3 justify-content-center">
            <form id="frmNuevoLike" method="post" action="/likes/new_like?id={{ imagen.key.urlsafe() }}" onsubmit="return check()" class="form-container"
            >
                <div class="form-group">
                    <label for="edNombre">Nick:</label>
                    <input type="text" id="edNombre" name="edNombre" placeholder="Nombre" class="form-control" value="{{ usr_info.nick }}"
                    style="border-left: none; border-right: none; border-top:none; border-radius: 0px" readonly>
                </div>
                <div class="form-group">
                    <label for="edEmail">Email:</label>
                    <input type="email" id="edEmail" name="edEmail" placeholder="Email" class="form-control" value="{{ usr_info.email }}"
                    style="border-left: none; border-right: none; border-top:none; border-radius: 0px" readonly>
                </div>
                <input type="submit" class="btn btn-success mx-auto" value="Me gusta">
            </form>
        </div>
    </div>
</div>

<script>
    function check(){
        const edNombre = document.getElementById("edNombre");
        const edEmail = document.getElementById("edEmail");

        if (edNombre.value.trim().length > 0 &&
            edEmail.value.trim().length > 0) {

            return true;
        }

        return false;
    }
</script>
{% endblock %}

